* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root{
    --primary-font-color: #FFFFFF;
    --secondary-font-color: #000000;
    --text-hover-color: #195C7C;
    --button-hover-color: #2D2D2E;
    --new-cta: #094C6A;
    --new-cta-hover: #0B5474;
    --new-cta-background: #0C8C5E;
    --email-cta-background: #71B2A8;
    --email-cta-border: #e5e7eb3b;
    --email-cta-placeholder: #B8D9D6;
    --font-subheading: #585858;
    --footer-outline: #EDEDED;
}

body {
  background-image: url("assets/bg-light.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -200px;
  background-color: #FFFFFF; 
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--secondary-font-color);
}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.main-nav{
    display: flex;
    gap: 12rem;
    padding: 0px;
}

.brand-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo img{
    width: 100px;  
}

.brand-logo img:hover{
    cursor: pointer;
}

.tabs{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.tabs li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs li a{
    text-decoration: none;
    color: var(--secondary-font-color);
    font-weight: 480px;
    font-size: 16px;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 4px 12px;
}

.tabs li a:hover{
    cursor: pointer;
    background-color: var(--text-hover-color);
    border-radius: 25px;
}

.nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: 80px;
}

.contact-sales{
    font-size: 15px;
    height: fit-content;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 25px;
    background-color: var(--text-hover-color);
    cursor: pointer;
}

.start-free{
    font-size: 15px;
    height: fit-content;
    font-weight: 500;
    padding: 9px 13px;
    border-radius: 25px;
    background-color: var(--secondary-font-color);
    color: var(--primary-font-color);
    cursor: pointer;
}

.start-free:hover{
    background-color: var(--button-hover-color);
}